[submodule "Mods/BonusBlinds"]
	path = Mods/BonusBlinds
	url = https://github.com/Dimserene/BonusBlinds
[submodule "Mods/Cartomancer"]
	path = Mods/Cartomancer
	url = https://github.com/stupxd/Cartomancer
[submodule "Mods/DebugPlus"]
	path = Mods/DebugPlus
	url = https://github.com/Dimserene/DebugPlus
[submodule "Mods/FoldButton"]
	path = Mods/FoldButton
	url = https://github.com/happinyz/BalatroFoldButton
[submodule "Mods/Galdur"]
	path = Mods/Galdur
	url = https://github.com/Eremel/Galdur/
[submodule "Mods/Handy"]
	path = Mods/Handy
	url = https://github.com/SleepyG11/HandyBalatro/
[submodule "Mods/JokerDisplay"]
	path = Mods/JokerDisplay
	url = https://github.com/nh6574/JokerDisplay
[submodule "Mods/JokerDisplayModSupport"]
	path = Mods/JokerDisplayModSupport
	url = https://github.com/nh6574/JokerDisplayModSupport
[submodule "Mods/LobotomyCorp"]
	path = Mods/LobotomyCorp
	url = https://github.com/Mysthaps/LobotomyCorp/
[submodule "Mods/MystBlinds"]
	path = Mods/MystBlinds
	url = https://github.com/Mysthaps/MystBlinds/
[submodule "Mods/Steamodded"]
	path = Mods/Steamodded
	url = https://github.com/Steamopollys/Steamodded
[submodule "Mods/Talisman"]
	path = Mods/Talisman
	url = https://github.com/Dimserene/Talisman/
[submodule "Mods/Cruel-Blinds"]
	path = Mods/Cruel-Blinds
	url = https://github.com/Dimserene/Cruel-Blinds
[submodule "Mods/MathBlinds"]
	path = Mods/MathBlinds
	url = https://github.com/Bazinga9000/MathBlinds
[submodule "Mods/DeckSkinsPlus"]
	path = Mods/DeckSkinsPlus
	url = https://github.com/Dimserene/DeckSkinsPlus.git
